extends ../layout

block content
  h1 Créer un fournisseur
  form(action="/suppliers/create" method="POST")
    div
      label Nom :
      input(type="text" name="name" required)
    div
      button(type="submit") Créer
